<div class="h-full flex flex-col">
  <div class="flex-none">
    <app-navbar />
  </div>

  <main class="grow  relative">
    <ng-content />
  </main>
  <footer class="h-20 bg-neutral-950 flex flex-col gap-3 items-center justify-center">
    <span class=" text-neutral-700">Prueba técnica Ing. Miguel Ramírez / Realtix SAS.</span>
    <div class=" flex gap-2 text-sky-600">
      <a target="_blank" href="https://www.linkedin.com/in/miguel-angel-ramirez-87b38b166/">Linkedin</a>
      <a target="_blank" href="https://migueloncoder.github.io/miguelon-portafolio/">Portafolio</a>
      <a target="_blank" href="https://medium.com/@mr.develop411">Medium</a>
      <a target="_blank" href="https://github.com/miguelonCoder">Github</a>
    </div>
    
  </footer>
</div>